body {
    /* background: url('backmucha.jpg') no-repeat; */
    background-attachment: fixed;
    /* background-color: black; */
    background-color: #e9ebee;
    background-size: cover;
    font-family: Arial;
    padding: 0;
    margin: 0;
    margin-top: -5px;
    /* overflow-y: scroll; */
}

@font-face {
    font-family: 'Myax-Regular';
    src: url('myax-regular-webfont.woff2') format('woff2'),
    url('myax-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.mainContentBackground
{
    background-color: #24292E;
    
}

#loginUl li ul{
    left:auto;
    right:0;
    /* margin-right:-10px; */
}


#loginButton{
    background-color: grey;
}

/* #loginButton:hover {
    background-color:white;
    color: black;

} */

#subMenu li{
    padding: 10px;
}

.box{
    display: flex;
    align-items: center;
}

#log{
    float: right;
    /* margin-top: 10px;
    margin-bottom: 5px;*/
    margin-right: 30px; 
}

#footerLinks a {
    margin-left: 5px;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#footer {
    background-color: #65453A;
    position: absolute;
    bottom: 0;
    /* height: 7.5%; */
    width: 100%;
    /* opacity: .75; */
    color: white;
    font-size: 20px;
    display: inline-block;
    height: 45px;
    
}

#footerLinks {
    position: absolute;
    top: 15%;
    right: 15px;
    height: 70%;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#navigationBar {
    width: 100%;
    position: relative;
    z-index: 1000;
    /* opacity:.75;  */
    background-color: #65453A;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    clear: both;
}

#wrapper ul li{
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

/* Praise to Pongo!!! */

#navigationBar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navigationBar ul li {
    position: relative;
    /* opacity: .75; */
    background-color: #65453A;
    display: inline-block;
    text-align: center;
    width: 20vw;
    margin-left: -2px;
    margin-right: -2px;
    /* height:7.5%; */
}

#navigationBar ul li:hover {
    background-color: #380E00;
    opacity: 1;
    width: 20vw;
}

#navigationBar ul li a,
visited {
    color: white;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 0px;
    text-decoration: none;
    z-index: 1;
}

/* temporary removal */
/* #navigationBar ul li:hover ul {
    display: block;
} */

#responsiveIcon {
    position: relative;
    display: none;
    float: right;
    /* right: 20px; */
    max-height: 40px;
    /* top: 4px; */
    cursor: pointer;
}

@media screen and (min-aspect-ratio: 230/337) {
    #wrapper {
        display: block;
    }

}


@media screen and (max-aspect-ratio: 230/337) {
    #wrapper {
        position: absolute;
        top: 100%;
        z-index: 3;
    }

    #navigationBar ul {
        background-color: rgba(0, 0, 0, 0.75);
    }
    .seenWrapper {
        display: none;
    }

    #responsiveIconContainer {
        height: 70%;
        position: absolute;
        top: 15%;
        right: 22px;
    }


    #navigationBar ul li {
        width: 100%;
        background-color: rgba(0, 0, 0, 0);
    }

    #navigationBar ul li a {

        font-size: 1.5em;
    }

    #navigationBar ul ul {
        width: 100%;
    }

    #navigationBar ul li:hover {
        width: 100%;
    }

    /* #navigationBar ul li ul li {
        display: none;
    } */



    #navigationBar {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: #65453A;
        height: 7.5%;
    }

    /* #footer {
        height: 7.5%;
    } */

    #responsiveIcon {
        display: block;
        max-height: 100%;
        max-width: 100%;
    }

    #log{
        position: absolute;
        top: calc(100% + 10px);
        right: -8px;
        z-index: 0;
       
    }

    .active {
        display: block
    }

    
}


#navigationBar ul ul {
    display: none;
    position: absolute;
    width: 20vw;
    min-width: 125px;
    opacity: 1;
    z-index: 1;
}

#navigationBar ul ul li {
    display: block;
    width: 100%;
    background-color: grey;
    opacity: .75;
    margin-left: 0px;
}

#navigationBar ul ul li:hover {
    background-color: grey;
    opacity: 1;
    width: 100%;
}

#footerLinks {
    position: absolute;
    top: 15%;
    right: 22px;
    height: 70%;
}

#Copyright {
    position: absolute;
    top: 15%;
    right: 22px;
    height: 70%;
    text-align: center;
}

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#footer {

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#footerLinks {
    text-align: right;
}

#footerLinks img {
    max-height: 100%;
    max-width: 100%;
}

#navigationBar {
    margin-top: 0px;
    z-index: 100;
}


a {
    color: white;
    text-decoration: none;
}

body {
    color: white;
    margin-top: 0px;
    background-attachment: fixed;
    /* background-color: black; */
    background-size: cover;
    position: relative;
    margin: 0;
    padding-bottom: 60px;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.abcRioButton.abcRioButtonLightBlue { margin: 0 auto;}

.underlined{
    text-decoration: underline;
}